<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href=../../../css/variables.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../../css/fonts.css rel=stylesheet>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <title>Home</title>
  <meta name="title" content="">
  <meta name="description" content="">
  <meta property="og:description" content="">
  <meta name="keywords" content="">
</head>

<body>
  <p-general>
    <o-header menu-icon="true" namespace="header-" role="header">
      <a-logo style="visibility: hidden;" namespace="header-logo-" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.gr-logistik.com%2Fen%2Fmediathek%2Fgr-transport-logistik-gmbh-media-04.jpg&f=1&nofb=1" href="/"></a-logo>
      <m-navigation hover="false" namespace="navigation-" hit-area="false" focus-lost-close focus-lost-close-mobile set-active>
        <ul>
          <li>
            <a href="#" target="">About</a>
            <ul>
              <li>
                <a href="/pages/Home2.html" target="">Idee</a>
              </li>
              <li>
                <a href="/about/team/" target="">Team</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/pages/Home2.html" target="">Förderung</a>
          </li>
          <li>
            <a href="/kosmos/" target="">Kosmos</a>
          </li>
          <li>
            <a href="#" target="">Studio</a>
            <ul>
              <li>
                <a href="/studio/in-den-studios/" target="">In den Studios</a>
              </li>
              <li>
                <a href="/studio/projekte/" target="">Projekte</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/netzwerk/" target="">Netzwerk</a>
          </li>
          <li>
            <a href="/suche/" target="">
              <img src="https://testadmin.sparx-space.ch/assets/img/search_black_24dp.svg">
            </a>
          </li>
        </ul>
      </m-navigation>
    </o-header>
    <logistik-o-body home>
      <h1>Hello World</h1>
      <wc-a-button small>small</wc-a-button>
    </logistik-o-body>
  </p-general>
  <!--<msrc-cookie-banner props="{'env': 'test', 'language': 'de', 'theme': 'mgb', 'webAPIKey': 'YZ2PxeiToHsMMnjPdpeEZU9Tp4N9adVVAwYLQKjJg89KQ6MCFcYKQL9Cdcq2HjgE'}" mobile-breakpoint="1000px"></msrc-cookie-banner>-->
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '767px'
    }
  </script>
</body>
</html>
