<!DOCTYPE html>
<html lang="de">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
  <link href=../../components/web-components/src/css/colors.css rel=stylesheet>
  <link href=../../components/web-components/src/css/migros.css rel=stylesheet>
  <link href=../../../css/variables.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../components/web-components/src/css/fonts.css rel=stylesheet>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <title>Home</title>
  <meta name="title" content="">
  <meta name="description" content="">
  <meta property="og:description" content="">
  <meta name="keywords" content="">
</head>

<body>
  <p-general>
    <logistik-o-header menu-icon="true" namespace="header-" namespace-fallback role="header" m-navigation="logistik-m-navigation" sticky>
      <a href="/"><span style="font-weight: 800; color: var(--color-secondary);">MGB</span> Logistik Transport</a>
      <logistik-m-navigation hover="false" namespace="navigation-" namespace-fallback hit-area="false" focus-lost-close no-scroll>
        <ul>
          <li>
            <a href="#">International</a>
            <section>
              <ul>
                <li>
                  <a href="/Dienstleistungen">Dienstleistungen</a>
                </li>
                <li>
                  <a href="/Offertenanfrage">Offertenanfrage</a>
                </li>
                <li>
                  <a href="/Strassentransporte">Strassentransporte</a>
                </li>
                <li>
                  <a href="/Bahntransporte">Bahntransporte</a>
                </li>
                <li>
                  <a href="/Kombinierter Verkehr">Kombinierter Verkehr</a>
                </li>
                <li>
                  <a href="/Gekühlte Transporte">Gekühlte Transporte</a>
                </li>
                <li>
                  <a href="/Seefracht">Seefracht</a>
                </li>
                <li>
                  <a href="/Sammelkontainer">Sammelkontainer</a>
                </li>
                <li>
                  <a href="/Express Sendungen">Express Sendungen</a>
                </li>
                <li>
                  <a href="/Migros Office Hongkong">Migros Office Hongkong</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="/Verzollung">Verzollung</a>
                </li>
                <li>
                  <a href="/Zolldienstleistungen">Zolldienstleistungen</a>
                </li>
                <li>
                  <a href="/Elektronische Yolltarif Tares">Elektronische Yolltarif Tares</a>
                </li>
                <li>
                  <a href="/Freihandelsabkommen">Freihandelsabkommen</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="/Instruktionen">Instruktionen</a>
                </li>
                <li>
                  <a href="/Track & Trace (MTWEB)">Track & Trace (MTWEB)</a>
                </li>
                <li>
                  <a href="/Verteilzentren Anlieferungsvorschriften">Verteilzentren Anlieferungsvorschriften</a>
                </li>
                <li>
                  <a href="/Verteilzentren Sortiervorschriften">Verteilzentren Sortiervorschriften</a>
                </li>
                <li>
                  <a href="/Shipping Guidelines">Shipping Guidelines</a>
                </li>
                <li>
                  <a href="/Containertragwagen Handbuch">Containertragwagen Handbuch</a>
                </li>
                <li>
                  <a href="/Incoterms">Incoterms</a>
                </li>
                <li>
                  <a href="/Seefracht & LKW Abmessungen">Seefracht & LKW Abmessungen</a>
                </li>
              </ul>
              <ul>
                <li class=bold>
                  <a href="/Aktuelles">Aktuelles</a>
                </li>
                <li class=bold>
                  <a href="/Oft gestellte Fragen">Oft gestellte Fragen</a>
                </li>
                <li class=bold>
                  <a href="/Kontakt">Kontakt</a>
                </li>
              </ul>
            </section>
          </li>
          <li>
            <a class="active" href="#">National</a>
            <section>
              <ul>
                <li>
                  <a href="/Dienstleistungen">National - Dienstleistungen</a>
                </li>
                <li>
                  <a href="/Offertenanfrage">National - Offertenanfrage</a>
                </li>
                <li>
                  <a class="active" href="/Strassentransporte">National - Strassentransporte</a>
                </li>
                <li>
                  <a href="/Bahntransporte">National - Bahntransporte</a>
                </li>
                <li>
                  <a href="/Kombinierter Verkehr">National - Kombinierter Verkehr</a>
                </li>
                <li>
                  <a href="/Gekühlte Transporte">National - Gekühlte Transporte</a>
                </li>
                <li>
                  <a href="/Seefracht">National - Seefracht</a>
                </li>
                <li>
                  <a href="/Sammelkontainer">National - Sammelkontainer</a>
                </li>
                <li>
                  <a href="/Express Sendungen">National - Express Sendungen</a>
                </li>
                <li>
                  <a href="/Migros Office Hongkong">National - Migros Office Hongkong</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="/Verzollung">National - Verzollung</a>
                </li>
                <li>
                  <a href="/Zolldienstleistungen">National - Zolldienstleistungen</a>
                </li>
                <li>
                  <a href="/Elektronische Yolltarif Tares">National - Elektronische Yolltarif Tares</a>
                </li>
                <li>
                  <a href="/Freihandelsabkommen">National - Freihandelsabkommen</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="/Instruktionen">National - Instruktionen</a>
                </li>
                <li>
                  <a href="/Track & Trace (MTWEB)">National - Track & Trace (MTWEB)</a>
                </li>
                <li>
                  <a href="/Verteilzentren Anlieferungsvorschriften">National - Verteilzentren Anlieferungsvorschriften</a>
                </li>
                <li>
                  <a href="/Verteilzentren Sortiervorschriften">National - Verteilzentren Sortiervorschriften</a>
                </li>
                <li>
                  <a href="/Shipping Guidelines">National - Shipping Guidelines</a>
                </li>
                <li>
                  <a href="/Containertragwagen Handbuch">National - Containertragwagen Handbuch</a>
                </li>
                <li>
                  <a href="/Incoterms">National - Incoterms</a>
                </li>
                <li>
                  <a href="/Seefracht & LKW Abmessungen">National - Seefracht & LKW Abmessungen</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="/Aktuelles">National - Aktuelles</a>
                </li>
                <li>
                  <a href="/Oft gestellte Fragen">National - Oft gestellte Fragen</a>
                </li>
                <li>
                  <a href="/Kontakt">National - Kontakt</a>
                </li>
              </ul>
            </section>
          </li>
          <li>
            <a href="#">Tauschgeräte</a>
            <section>
              <ul>
                <li>
                  <a href="/Dienstleistungen">Tauschgeräte - Dienstleistungen</a>
                </li>
                <li>
                  <a href="/Offertenanfrage">Tauschgeräte - Offertenanfrage</a>
                </li>
                <li>
                  <a href="/Strassentransporte">Tauschgeräte - Strassentransporte</a>
                </li>
                <li>
                  <a href="/Bahntransporte">Tauschgeräte - Bahntransporte</a>
                </li>
                <li>
                  <a href="/Kombinierter Verkehr">Tauschgeräte - Kombinierter Verkehr</a>
                </li>
                <li>
                  <a href="/Gekühlte Transporte">Tauschgeräte - Gekühlte Transporte</a>
                </li>
                <li>
                  <a href="/Seefracht">Tauschgeräte - Seefracht</a>
                </li>
                <li>
                  <a href="/Sammelkontainer">Tauschgeräte - Sammelkontainer</a>
                </li>
                <li>
                  <a href="/Express Sendungen">Tauschgeräte - Express Sendungen</a>
                </li>
                <li>
                  <a href="/Migros Office Hongkong">Tauschgeräte - Migros Office Hongkong</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="/Verzollung">Tauschgeräte - Verzollung</a>
                </li>
                <li>
                  <a href="/Zolldienstleistungen">Tauschgeräte - Zolldienstleistungen</a>
                </li>
                <li>
                  <a href="/Elektronische Yolltarif Tares">Tauschgeräte - Elektronische Yolltarif Tares</a>
                </li>
                <li>
                  <a href="/Freihandelsabkommen">Tauschgeräte - Freihandelsabkommen</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="/Instruktionen">Tauschgeräte - Instruktionen</a>
                </li>
                <li>
                  <a href="/Track & Trace (MTWEB)">Tauschgeräte - Track & Trace (MTWEB)</a>
                </li>
                <li>
                  <a href="/Verteilzentren Anlieferungsvorschriften">Tauschgeräte - Verteilzentren Anlieferungsvorschriften</a>
                </li>
                <li>
                  <a href="/Verteilzentren Sortiervorschriften">Tauschgeräte - Verteilzentren Sortiervorschriften</a>
                </li>
                <li>
                  <a href="/Shipping Guidelines">Tauschgeräte - Shipping Guidelines</a>
                </li>
                <li>
                  <a href="/Containertragwagen Handbuch">Tauschgeräte - Containertragwagen Handbuch</a>
                </li>
                <li>
                  <a href="/Incoterms">Tauschgeräte - Incoterms</a>
                </li>
                <li>
                  <a href="/Seefracht & LKW Abmessungen">Tauschgeräte - Seefracht & LKW Abmessungen</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="/Aktuelles">Tauschgeräte - Aktuelles</a>
                </li>
                <li>
                  <a href="/Oft gestellte Fragen">Tauschgeräte - Oft gestellte Fragen</a>
                </li>
                <li>
                  <a href="/Kontakt">Tauschgeräte - Kontakt</a>
                </li>
              </ul>
            </section>
          </li>
          <li>
            <a href="#">Über uns</a>
            <section>
              <ul>
                <li>
                  <a href="/Dienstleistungen">Über unsDienstleistungen</a>
                </li>
                <li>
                  <a href="/Offertenanfrage">Über unsOffertenanfrage</a>
                </li>
                <li>
                  <a href="/Strassentransporte">Über unsStrassentransporte</a>
                </li>
                <li>
                  <a href="/Bahntransporte">Über unsBahntransporte</a>
                </li>
                <li>
                  <a href="/Kombinierter Verkehr">Über unsKombinierter Verkehr</a>
                </li>
                <li>
                  <a href="/Gekühlte Transporte">Über unsGekühlte Transporte</a>
                </li>
                <li>
                  <a href="/Seefracht">Über<br>unsSeefracht Über<br>unsSeefracht Über<br>unsSeefracht Über<br>unsSeefracht Über<br>unsSeefracht Über<br>unsSeefracht Über<br>unsSeefracht Über<br>unsSeefracht Über<br>unsSeefracht Über<br>unsSeefracht Über<br>unsSeefracht </a>
                </li>
                <li>
                  <a href="/Sammelkontainer">Über unsSammelkontainer</a>
                </li>
                <li>
                  <a href="/Express Sendungen">Über unsExpress Sendungen</a>
                </li>
                <li>
                  <a href="/Migros Office Hongkong">Über unsMigros Office Hongkong</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="/Verzollung">Über unsVerzollung</a>
                </li>
                <li>
                  <a href="/Zolldienstleistungen">Über unsZolldienstleistungen</a>
                </li>
                <li>
                  <a href="/Elektronische Yolltarif Tares">Über unsElektronische Yolltarif Tares</a>
                </li>
                <li>
                  <a href="/Freihandelsabkommen">Über unsFreihandelsabkommen</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="/Instruktionen">Über unsInstruktionen</a>
                </li>
                <li>
                  <a href="/Track & Trace (MTWEB)">Über unsTrack & Trace (MTWEB)</a>
                </li>
                <li>
                  <a href="/Verteilzentren Anlieferungsvorschriften">Über unsVerteilzentren Anlieferungsvorschriften</a>
                </li>
                <li>
                  <a href="/Verteilzentren Sortiervorschriften">Über unsVerteilzentren Sortiervorschriften</a>
                </li>
                <li>
                  <a href="/Shipping Guidelines">Über unsShipping Guidelines</a>
                </li>
                <li>
                  <a href="/Containertragwagen Handbuch">Über unsContainertragwagen Handbuch</a>
                </li>
                <li>
                  <a href="/Incoterms">Über unsIncoterms</a>
                </li>
                <li>
                  <a href="/Seefracht & LKW Abmessungen">Über unsSeefracht & LKW Abmessungen</a>
                </li>
              </ul>
              <ul>
                <li>
                  <a href="/Aktuelles">Über unsAktuelles</a>
                </li>
                <li>
                  <a href="/Oft gestellte Fragen">Über unsOft gestellte Fragen</a>
                </li>
                <li>
                  <a href="/Kontakt">Über unsKontakt</a>
                </li>
              </ul>
            </section>
          </li>
          <li class=search><wc-f-input inputid="inputSearch" placeholder="Suchen..." search="Home.html?q=" namespace=search-></wc-f-input></li>
        </ul>
        <ul class=language-switcher>
          <li><a href=#>DE</a></li>
          <li><a href=#>FR</a></li>
          <li><a href=#>EN</a></li>
        </ul>
      </logistik-m-navigation>
    </logistik-o-header>
    <logistik-o-body home>
      <o-wrapper namespace="teaser-wrapper-" namespace-fallback>
        <m-teaser namespace="teaser-" namespace-fallback>
          <figure>
            <a-picture namespace=teaser-picture- defaultsource="https://logistiktransport-testadmin.service.migros.cloud/media/yvllkn2x/international.jpg?anchor=center&amp;mode=crop&amp;width=850&amp;height=450&amp;format=png&amp;quality=80&amp;rnd=132797367638100000" alt="International"></a-picture>
            <figcaption>
              <h1>teaser titel</h1>
              <p>Aus China, Indien oder Südamerika. Aus Italien, Deutschland oder Portugal. Auf dem See- oder Landweg. Wir transportieren die Güter der Migros-Gruppe...  inklusive.<br><a href=verzollung>Verzollung -></a></p>
            </figcaption>
          </figure>
          <wc-a-button namespace=teaser-btn- href=button1>Check me out 1</wc-a-button>
        </m-teaser>
        <m-teaser namespace="teaser-" namespace-fallback>
          <figure>
            <figcaption>
              <h1>teaser titel</h1>
              <p>Aus China, Indien oder Südamerika. Aus Italien, Deutschland oder Portugal. Auf dem See- oder Landweg. Wir transportieren die Güter der Migros-Gruppe termingerecht und kostengünstig auf der optimalsten Route vom Lieferanten bis ins Verteilzentrum. Mit dem Schiff, der Bahn, per LKW oder dem Flugzeug. Sendungsverfolgung (Track &amp; Trace) und Verzollung inklusive.</p>
            </figcaption>
          </figure>
          <wc-a-button namespace=teaser-btn- href=button2>Check me out 2</wc-a-button>
        </m-teaser>
        <m-teaser href=hello namespace="teaser-" namespace-fallback href=here>
          <figure>
            <a-picture namespace=teaser-picture- defaultsource="https://logistiktransport-testadmin.service.migros.cloud/media/yvllkn2x/international.jpg?anchor=center&amp;mode=crop&amp;width=850&amp;height=450&amp;format=png&amp;quality=80&amp;rnd=132797367638100000" alt="International"></a-picture>
            <figcaption>
              <h1>teaser titel</h1>
              <p>Aus China, Indien oder Südamerika. Aus Italien, Deutschland oder Portugal. Auf dem See- oder Landweg. Wir transportieren die Güter der Migros-Gruppe termingerecht und kostengünstig auf der optimalsten Route vom Lieferanten bis ins Verteilzentrum. Mit dem Schiff, der Bahn, per LKW oder dem Flugzeug. Sendungsverfolgung (Track &amp; Trace) und Verzollung inklusive.<br><a href=verzollung>Verzollung -></a></p>
            </figcaption>
          </figure>
          <wc-a-button namespace=teaser-btn- href=button3>Check me out 3</wc-a-button>
        </m-teaser>
      </o-wrapper>
      <div class=spacer></div>
      <h2>Hello2</h2>
      <a href="/" class=no-icon><h2>Hello</h2></a>
      <p>Hello World Lorem ipsum <a-e-mail local-part=user domain=domain.com subject="Hello World">Mail</a-e-mail> dolor sit amet consectetur adipisicing elit. Quo minima commodi saepe enim neque autem iusto porro tempore rerum eum ab atque itaque praesentium facilis nihil fugit doloremque, natus aut.</p>
      <div class=spacer></div>
      <o-wrapper namespace="picture-text-wrapper-" namespace-fallback>
        <a-picture namespace=teaser-picture- defaultsource="https://logistiktransport-testadmin.service.migros.cloud/media/yvllkn2x/international.jpg?anchor=center&amp;mode=crop&amp;width=850&amp;height=450&amp;format=png&amp;quality=80&amp;rnd=132797367638100000" alt="International"></a-picture>
        <div>
          <h1>teaser titel</h1>
          <p>Aus China, Indien oder Südamerika. Aus Italien, Deutschland oder Portugal. Auf dem See- oder Landweg. Wir transportieren die Güter der Migros-Gruppe termingerecht und kostengünstig auf der optimalsten Route vom Lieferanten bis ins Verteilzentrum. Mit dem Schiff, der Bahn, per LKW oder dem Flugzeug. Sendungsverfolgung (Track &amp; Trace) und Verzollung inklusive.</p>
        </div>
      </o-wrapper>
      <ul class=icons>
        <li><a href=/hello/world>Lorem</a></li>
        <li><a href=/bahhh/baahhh.pdf>Dienstleistungen</a></li>
        <li><a href=/bahhh/baahhh.xls>ipsum dolor sit amet con</a></li>
      </ul>
      <logistik-m-details icon-image namespace=details- namespace-fallback>
        <details >
        <summary class=bold><h1>Icons</h1></summary>
        <ul class=icons>
          <li><a href=/hello/world>Lorem</a></li>
          <li><a href=/bahhh/baahhh.pdf>Dienstleistungen</a></li>
          <li><a href=/bahhh/baahhh.xls>ipsum dolor sit amet con</a></li>
        </ul>
        </details>
      </logistik-m-details>
      <div><a href=http:/hello/world>Lorem</a></div>
      <wc-a-button namespace=btn- outline href=button1>Check me out 1</wc-a-button>
      <logistik-m-details icon-image namespace=details- namespace-fallback>
        <details >
          <summary>AUFNAHMEKRITERIEN</summary>
          <p>
            <p>Wenn Sie als Migros-Lieferant Tauschgeräte benutzen wollen, sind Sie dazu verpflichtet, zuerst eine MTM-Partnerschafts-Vereinbarung abzuschliessen. Dafür können Sie sich einfach und bequem online anmelden. Bitte füllen Sie das entsprechende <a href="https://www.logistiktransport.ch/de/anmeldungpartnerschaft.htm">Formular </a>vollständig aus und wählen Sie die Tauschgeräte aus, welche Ihnen das Migros-Marketing oder der Migros-Logistikbetrieb zugewiesen hat. Klicken Sie anschliessend am Formularende auf den Button «Senden». Sobald Ihre Anmeldung bei uns eingetroffen ist, senden wir Ihnen die Vertragsunterlagen und weitere Informationen zu.</p>
            <p>Verwenden Sie für den Warenverkehr mit der Migros ausschliesslich EUR-Paletten, ist eine MTM-Partnerschaft nicht zwingend notwendig. Migros-Betriebe können jedoch aus logistischen Gründen von Ihnen eine solche Partnerschaft verlangen. Wir empfehlen Ihnen deshalb, sie in jedem Fall zu beantragen. Beachten Sie hierzu die Informationen auf der Seite <a href="https://www.logistiktransport.ch/de/eur-paletten.htm">EUR-Paletten</a> sowie die Hinweise auf dieser Seite im Kapitel <a href="https://www.logistiktransport.ch/de/allgemeine-informationen.htm">Tauschgerätetypen</a>.</p>
          </p>
        </details>
      </logistik-m-details>
      <logistik-m-details icon-image namespace=details- namespace-fallback>
        <details >
          <summary>KOSTEN UND GEBÜHREN</summary>
          <p>
            <p>Die Grundlagen der Gebühren sind im <a rel="noopener" href="https://www.logistiktransport.ch/display.cfm/id/103527/disp_type/display/filename/Regelwerk%20MTM%202017%20V7%20Dritte_DE.pdf" target="_blank">MTM-Regelwerk</a> (Kapitel Finanzielles) festgehalten. Die wichtigsten haben wir für Sie nachfolgend zusammengefasst:</p>
            <ul>
              <li>Für Migros-Tauschgeräte wird eine Mietgebühr pro Stück und Tag verrechnet. Massgebend für die Kostenberechnung ist der tägliche Endbestand des jeweiligen Tauschgeräts im TGIS (siehe Kapitel «TGIS» unten auf dieser Seite).</li>
              <li>Für jede EUR-Palette wird bei der Abholung eine Bezugsgebühr von CHF 0.35 in Rechnung gestellt.</li>
              <li>Zusätzliche Dienstleistungen wie das Waschen von Kunststoffgebinden oder das maschinelle Sortieren von Paletten werden zusätzlich verrechnet.</li>
              <li>Wenn Sie gewaschene Gebinde bei MTM beziehen wollen, benötigen Sie einen separaten Waschvertrag; nehmen Sie dazu Kontakt mit MTM auf.</li>
              <li>Bestellungen für den Folgetag, die nicht bis 07.00 Uhr morgens bei uns eintreffen, werden mit einem Zuschlag von CHF 50.– belastet (Notdisposition).</li>
              <li>Die Transportkosten gehen zu Lasten der Empfänger.</li>
              <li>Für die Kontoführung, den Betrieb, die Stammdatenpflege und die Verwaltung stellt MTM eine jährliche Administrationsgebühr in der Höhe von CHF 80.– in Rechnung.</li>
              <li>Die Abrechnung erfolgt monatlich; der Mindestbetrag für eine Rechnungsstellung beträgt CHF 50.–.</li>
            </ul>
          </p>
        </details>
      </logistik-m-details>
      <logistik-m-details icon-image namespace=details- namespace-fallback>
        <details >
        <summary class=bold>TAUSCHGERÄTETYPEN</summary>
        <p>
          <p>Abgestimmt auf Ihr Produkt und den Einsatzbereich wird vom Migros-Marketing oder -Logistikbetrieb der passende Tauschgerätetyp bestimmt. Im Dokument<span> </span><a rel="noopener" href="https://www.logistiktransport.ch/de/allgemeine-informationen.htm" target="_blank">Tauschgerätetypen</a><span> finden Sie die korrekten Typenbezeichnungen, die Artikelnummern und Massangaben. Bitte beachten Sie, dass Sie die Migros-Tauschgeräte nur im Warenverkehr mit der Migros einsetzen dürfen.</span></p>
        </p>
        </details>
      </logistik-m-details>
      <logistik-m-details icon-image namespace=details- namespace-fallback>
        <details >
          <summary>TAUSCHGERÄTE-INFORMATIONS-SYSTEM TGIS</summary>
          <p>
            <p>Jeder MTM-Partner verfügt über ein Konto in unserer webbasierten Verwaltungssoftware<span> </span><a rel="noopener" href="https://app.swisspost.ch/lm/index.jsp?Branding=Migros" target="_blank">TGIS</a>, für das er selbst verantwortlich zeichnet. Im TGIS werden unter anderem die benötigten Tauschgeräte bestellt und alle Lieferungen verbucht, einschliesslich der EUR-Paletten. Deshalb ist für Sie als MTM-Partner ein 1:1-Palettentausch nicht möglich und es werden auch keine Palettenbons ausgestellt. Für den Zugang zum TGIS ist lediglich ein PC mit Internetverbindung nötig. Die detaillierten Angaben über die technischen Anforderungen finden Sie im Kapitel<span> </span><a href="https://www.logistiktransport.ch/de/it-anforderungen.htm">IT-Anforderungen</a>.</p>
          </p>
        </details>
      </logistik-m-details>
    </logistik-o-body>
    <logistik-o-footer namespace="footer-" namespace-fallback>
      <div class="logo"><a href="/"><span style="font-weight: 800; color: var(--color-secondary);">MGB</span> Logistik Transport</a></div>
      <ul>
        <li>
          <a href="/Dienstleistungen">Dienstleistungen</a>
        </li>
        <li>
          <a href="/Offertenanfrage">Offertenanfrage</a>
        </li>
        <li>
          <a href="/Strassentransporte">Strassentransporte</a>
        </li>
        <li>
          <a href="/Bahntransporte">Bahntransporte</a>
        </li>
        <li>
          <a href="/Kombinierter Verkehr">Kombinierter Verkehr</a>
        </li>
        <li>
          <a href="/Gekühlte Transporte">Gekühlte Transporte</a>
        </li>
        <li>
          <a href="/Seefracht">Seefracht</a>
        </li>
        <li>
          <a href="/Sammelkontainer">Sammelkontainer</a>
        </li>
        <li>
          <a href="/Express Sendungen">Express Sendungen</a>
        </li>
        <li>
          <a href="/Migros Office Hongkong">Migros Office Hongkong</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/Verzollung">Verzollung</a>
        </li>
        <li>
          <a href="/Zolldienstleistungen">Zolldienstleistungen</a>
        </li>
        <li>
          <a href="/Elektronische Yolltarif Tares">Elektronische Yolltarif Tares</a>
        </li>
        <li>
          <a href="/Freihandelsabkommen">Freihandelsabkommen</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/Instruktionen">Instruktionen</a>
        </li>
        <li>
          <a href="/Track & Trace (MTWEB)">Track & Trace (MTWEB)</a>
        </li>
        <li>
          <a href="/Verteilzentren Anlieferungsvorschriften">Verteilzentren Anlieferungsvorschriften</a>
        </li>
        <li>
          <a href="/Verteilzentren Sortiervorschriften">Verteilzentren Sortiervorschriften</a>
        </li>
        <li>
          <a href="/Shipping Guidelines">Shipping Guidelines</a>
        </li>
        <li>
          <a href="/Containertragwagen Handbuch">Containertragwagen Handbuch</a>
        </li>
        <li>
          <a href="/Incoterms">Incoterms</a>
        </li>
        <li>
          <a href="/Seefracht & LKW Abmessungen">Seefracht & LKW Abmessungen</a>
        </li>
      </ul>
      <ul>
        <li class=bold>
          <a href="/Aktuelles">Aktuelles</a>
        </li>
        <li class=bold>
          <a href="/Oft gestellte Fragen">Oft gestellte Fragen</a>
        </li>
        <li class=bold>
          <a href="/Kontakt">Kontakt</a>
        </li>
      </ul>
      <ul class=language-switcher>
        <li><a href=#>DE</a></li>
        <li><a href=#>FR</a></li>
        <li><a href=#>EN</a></li>
      </ul>
      <ul class=language-switcher>
        <li class=copy>© 2021 Logistik Transport</li>
        <li><a href=#>AGB</a></li>
        <li><a href=#>Datenschutz</a></li>
        <li><a href=#>Impressum</a></li>
      </ul>
      <div>
        <h3>Hello TextEditor</h3>
        <a href=/bahhh/baahhh.pdf>Dienstleistungen</a>
        <p>Lorem ipsum dolor sit amet consectetur <a href=#>adipisicing elit.</a> Eos a facere explicabo voluptatum pariatur. Quas illo magni ipsum quibusdam dolorum porro, minima recusandae, maiores aliquid asperiores expedita autem, modi obcaecati?</p>
        <img src="https://logistiktransport-testadmin.service.migros.cloud/media/yvllkn2x/international.jpg?anchor=center&amp;mode=crop&amp;width=850&amp;height=450&amp;format=png&amp;quality=80&amp;rnd=132797367638100000" alt="International" />
      </div>
    </logistik-o-footer>
  </p-general>
  <!--<msrc-cookie-banner props="{'env': 'test', 'language': 'de', 'theme': 'mgb', 'webAPIKey': 'YZ2PxeiToHsMMnjPdpeEZU9Tp4N9adVVAwYLQKjJg89KQ6MCFcYKQL9Cdcq2HjgE'}" mobile-breakpoint="1000px"></msrc-cookie-banner>-->
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '767px'
    }
  </script>
</body>
</html>
