

<!DOCTYPE html>

<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
  <link href=../../components/web-components/src/css/colors.css rel=stylesheet>
  <link href=../../components/web-components/src/css/migros.css rel=stylesheet>
  <link href=../../../css/variables.css rel=stylesheet>
  <link href=../../../css/misc.css rel=stylesheet>
  <link href=../../components/web-components/src/css/fonts.css rel=stylesheet>
  <script type="text/javascript" src="../../../../wc-config.js"></script>
  <title>Kontakt</title>
  <meta name="title" content="">
  <meta name="description" content="">
  <meta property="og:description" content="">
  <meta name="keywords" content="">
</head>
<body>
  <p-general>
    
    
    <logistik-o-header menu-icon="true" namespace="header-" namespace-fallback role="header" m-navigation="logistik-m-navigation" sticky>
      
      <a href="/"><span style="font-weight: 800; color: var(--color-secondary);">MGB</span> Logistik Transport</a>
      
      
      <logistik-m-navigation hover="false" namespace="navigation-" namespace-fallback hit-area="false" focus-lost-close no-scroll>
        <ul>
          <li>
            
            <a href="#">International</a>
            <section>
              <ul>
                <li><a href="/international/dienstleistungen/" target="">Dienstleistungen</a></li>
                <li><a href="/international/dienstleistungen/offertenanfrage/" target="">Offertenanfrage</a></li>
                <li><a href="/international/dienstleistungen/strassentransporte/" target="">Strassentransporte</a></li>
                <li><a href="/international/dienstleistungen/bahntransporte/" target="">Bahntransporte</a></li>
              </ul>
              <ul>
                <li><a href="/international/verzollung/" target="">Verzollung</a></li>
                <li><a href="/international/verzollung/zolldienstleistungen/" target="">Zolldienstleistungen</a></li>
                <li><a href="/international/verzollung/freihandelsabkommen/" target="">Freihandelsabkommen</a></li>
              </ul>
              <ul>
                <li><a href="/international/instruktionen/" target="">Instruktionen</a></li>
                <li><a href="/international/instruktionen/track-and-trace/" target="">Track and Trace</a></li>
                <li><a href="/international/instruktionen/verteilzentren-anlieferungsvorschriften/" target="">Verteilzentren Anlieferungsvorschriften</a></li>
                <li><a href="/international/instruktionen/verteilzentren-sortiervorschriften/" target="">Verteilzentren Sortiervorschriften</a></li>
                <li><a href="/international/instruktionen/shipping-guidelines/" target="">Shipping Guidelines</a></li>
                
                
              </ul>
              <ul>
                <li><li class=bold><a href=/international/aktuelles/ target=> Aktuelles</a></li><li class=bold><a href=/international/oft-gestellte-fragen/ target=> Oft gestellte Fragen</a></li><li class=bold><a href=/international/kontakt/ target=> Kontakt</a></li></li>
              </ul>
            </section>
            
          </li>
          <li>
            
            <a href="#">National</a>
            <section>
              <ul>
                <li><a href="/national/national-spalte-1/" target="">National - Spalte 1</a></li>
                <li><a href="/national/national-spalte-1/subpage/" target="">subpage</a></li>
                <li><a href="/national/national-spalte-1/subpage-2/" target="">subpage 2</a></li>
              </ul>
              <ul>
                <li><a href="/national/national-spalte-2/" target="">National Spalte 2</a></li>
                <li><a href="/national/national-spalte-2/subpage/" target="">subpage</a></li>
                <li><a href="/national/national-spalte-2/subpage1/" target="">subpage1</a></li>
                <li><a href="/national/national-spalte-2/subpage3/" target="">subpage3</a></li>
                <li><a href="/national/national-spalte-2/subpage4/" target="">subpage4</a></li>
              </ul>
              <ul>
                <li><a href="/national/national-spalte-3/" target="">National Spalte 3</a></li>
                <li><a href="/national/national-spalte-3/subpage/" target="">subpage</a></li>
                <li><a href="/national/national-spalte-3/subpage2/" target="">subpage2</a></li>
                
                
              </ul>
              <ul>
                <li><li class=bold><a href=/national/fragen/ target=> Fragen</a></li><li class=bold><a href=/national/kontakt/ target=> Kontakt</a></li></li>
              </ul>
            </section>
            
          </li>
          <li>
            
            <a href="#">Tauschgeräte</a>
            <section>
              <ul>
                <li><a href="/tauschgerate/kontakt/" target="">Kontakt</a></li>
                <li><a href="/tauschgerate/kontakt/test/" target="">test</a></li>
                
                
              </ul>
              <ul>
                <li></li>
              </ul>
            </section>
            
          </li>
          <li class=search><wc-f-input inputid="inputSearch" placeholder="Suchen..." search="/suche?q=" namespace=search-></wc-f-input></li>
          
        </ul>
        
        <ul class="language-switcher">
          
          
          <li>
            <a>De</a>
          </li>
          <li>
            <a>En</a>
          </li>
          
        </ul>
      </logistik-m-navigation>
      
      
    </logistik-o-header>
    
    <logistik-o-body>

      <logistik-a-emotion-pictures namespace=emotion->
        <a-picture namespace=picture- defaultsource="../../../img/CHE_200815_MGBLT_25_DesktopVariante.jpg" alt="International"></a-picture>
        <a-picture namespace=picture- defaultsource="../../../img/CHE_200815_MGBLT_34_DesktopVariante.jpg" alt="International"></a-picture>
        <a-picture namespace=picture- defaultsource="../../../img/International_Container.jpg" alt="International"></a-picture>
        <a-picture namespace=picture- defaultsource="../../../img/International_Flughafen.jpg" alt="International"></a-picture>
        <a-picture namespace=picture- defaultsource="../../../img/International_MSC_Oscar.jpg" alt="International"></a-picture>
      </logistik-a-emotion-pictures>

      <logistik-o-wrapper namespace="body-wrapper-" namespace-fallback any-1-width="70%">
        <div>
          <h2>IHRE ANSPRECHPERSONEN</h2>
        
          <div>
            <o-wrapper namespace="contacts-" namespace-fallback>
              <div>
                <div>
                  <h5></h5>
                  <p><strong>Infoline</strong><br />+41 58 570 34 88<br /><a href="mailto:andy.felix@mgb.ch" title="andy.felix@mgb.ch">Mail</a></p>
                </div>
                <div>
                  <h5>Bereichsleitung</h5>
                  <p><strong>Beat Hermann<br /></strong>Bereichsleiter MTM<br />+41 58 570 34 88<br /><a href="mailto:andy.felix@mgb.ch" title="andy.felix@mgb.ch">Mail</a></p>
                </div>
                <div>
                  <h5>Team QM / Verrechnung</h5>
                  <p><strong>Carmen Willi<br /></strong>Prozessleiterin QM / Verrechnung<br />+41 58 570 34 83<br /><a href="mailto:andy.felix@mgb.ch" title="andy.felix@mgb.ch">Mail</a></p>
                  <p><strong>Pascal Wickihalder<br /></strong>QM | Verrechnung | Disposition<br />+41 58 570 34 88<br /><a href="mailto:andy.felix@mgb.ch" title="andy.felix@mgb.ch">Mail</a></p>
                  <p><strong>Imet Ajroja<br /></strong>QM | Verrechnung | Disposition<br />+41 58 570 34 88<br /><a href="mailto:andy.felix@mgb.ch" title="andy.felix@mgb.ch">Mail</a></p>
                  <p><strong>André Emmenegger<br /></strong>QM | Verrechnung<br />+41 58 570 34 88<br /><a href="mailto:andy.felix@mgb.ch" title="andy.felix@mgb.ch">Mail</a></p>
                  <p><strong>Cornelia Hartmann<br /></strong>QM | Verrechnung<br />+41 58 570 34 88<br /><a href="mailto:andy.felix@mgb.ch" title="andy.felix@mgb.ch">Mail</a></p>
                </div>
              </div>
              <div>
                <div>
                  <h5></h5>
                  <p><strong>Disposition<br /></strong>+41 58 571 31 13<br /><a href="mailto:andy.felix@mgb.ch" title="andy.felix@mgb.ch">Mail</a></p>
                </div>
                <div>
                  <h5>Team Disposition</h5>
                  <p><strong>Björn Böhi<br /></strong>Prozessleiter Disposition<br />+41 58 571 31 13<br /><a href="mailto:andy.felix@mgb.ch" title="andy.felix@mgb.ch">Mail</a></p>
                  <p><strong>Peter Winkler<br /></strong>Disposition<br />+41 58 571 31 13<br /><a href="mailto:andy.felix@mgb.ch" title="andy.felix@mgb.ch">Mail</a></p>
                </div>
                <div>
                  <h5>Team Qualitätssicherung / Projekte</h5>
                  <p><strong>Stefan Gnädinger<br /></strong>Projektleiter QS<br />+41 58 570 34 75<br /><a href="mailto:andy.felix@mgb.ch" title="andy.felix@mgb.ch">Mail</a></p>
                  <p><strong>Cindy Guillod<br /></strong>Qualitätscoach MTM<br />+41 58 570 34 76<br /><a href="mailto:andy.felix@mgb.ch" title="andy.felix@mgb.ch">Mail</a></p>
                  <p><strong>Telmo Caldeira<br /></strong>Qualitätscoach MTM<br />+41 58 570 22 03<br /><a href="mailto:andy.felix@mgb.ch" title="andy.felix@mgb.ch">Mail</a></p>
                </div>
              </div>
            </o-wrapper>
          </div>
          <a-picture namespace=picture- defaultsource="https://logistiktransport-testadmin.service.migros.cloud/media/yvllkn2x/international.jpg?anchor=center&amp;mode=crop&amp;width=850&amp;height=450&amp;format=png&amp;quality=80&amp;rnd=132797367638100000" alt="International"></a-picture>
        </div>
        <div>
          <logistik-m-details icon-image namespace=details- namespace-fallback>
            <details >
            <summary class=bold>Icons</summary>
            <ul class=icons>
              <li><a href=/hello/world>Lorem</a></li>
              <li><a href=/bahhh/baahhh.pdf>Dienstleistungen</a></li>
              <li><a href=/bahhh/baahhh.xls>ipsum dolor sit amet con</a></li>
            </ul>
            </details>
          </logistik-m-details>
          <logistik-m-details icon-image namespace=details- namespace-fallback>
            <details >
            <summary class=bold>Icons</summary>
            <ul class=icons>
              <li><a href=/hello/world>Lorem</a></li>
              <li><a href=/bahhh/baahhh.pdf>Dienstleistungen</a></li>
              <li><a href=/bahhh/baahhh.xls>ipsum dolor sit amet con</a></li>
            </ul>
            </details>
          </logistik-m-details>
          <h2>Kontaktieren Sie uns</h2>
          <p>Wenn Sie Fragen zum Zeitpunkt oder Ablauf einer Inventur haben, zögern Sie bitte nicht, uns zu kontaktieren:<br><br>Telefon: +41 58 570 34 88<br>E-Mail: </p>
          <wc-a-button namespace=btn- outline href=button1>Check me out 1</wc-a-button>
          <ul class=icons>
            <li><a href=/hello/world>Lorem</a></li>
            <li><a href=/bahhh/baahhh.pdf>Dienstleistungen</a></li>
            <li><a href=/bahhh/baahhh.xls>ipsum dolor sit amet con</a></li>
          </ul>
        </div>
      </logistik-o-wrapper>
    </logistik-o-body>
    
    <logistik-o-footer namespace="footer-" namespace-fallback>
      <div class="logo"><a href="/"><span style="font-weight: 800; color: var(--color-secondary);">MGB</span> Logistik Transport</a></div>
      <div>
        <h3>Internationale Transporte in Zahlen</h3>
        <p>800 Bahntransporte<br>
        1'500 Kühlguttransporte mit LKWs<br>
        7'000 ungekühlte LKW-Transporte<br>
        10’000 Containertransporte (gemessen in TEU: Transport Equivalent Unit)<br>
        30’000 Verzollungen</p>
      </div>
      <ul>
        <li ><a>MGB Logistik Transport</a></li>
        <li>
          <a href="/Glossar">Glossar</a>
        </li>
        <li>
          <a href="/Oft gestellte Fragen">Oft gestellte Fragen</a>
        </li>
        <li>
          <a href="/Nachhaltigkeit">Nachhaltigkeit</a>
        </li>
        <li>
          <a href="/Stellen">Stellen</a>
        </li>
        <li>
          <a href="/Rechtliches/Impressum">Rechtliches/Impressum</a>
        </li>
        <li>
          <a href="https://www.migros.ch/de/ueber-die-migros.html"><a-picture namespace=picture-logo- defaultsource="../../../img/logo_migros.svg" alt="Migros Logo"></a-picture></a>
        </li>
      </ul>
      <ul class=language-switcher>
        <li><a href=#>DE</a></li>
        <li><a href=#>FR</a></li>
        <li><a href=#>EN</a></li>
      </ul>
      <ul class=language-switcher>
        <li class=copy>© 2021 Logistik Transport</li>
        <li><a href=#>AGB</a></li>
        <li><a href=#>Datenschutz</a></li>
        <li><a href=#>Impressum</a></li>
      </ul>
    </logistik-o-footer>
  </p-general>
  <!--<msrc-cookie-banner props="{'env': 'test', 'language': 'de', 'theme': 'mgb', 'webAPIKey': 'YZ2PxeiToHsMMnjPdpeEZU9Tp4N9adVVAwYLQKjJg89KQ6MCFcYKQL9Cdcq2HjgE'}" mobile-breakpoint="1000px"></msrc-cookie-banner>-->
  <script rel=preload type=module>
    self.Environment = {
      mobileBreakpoint: '767px'
    }
  </script>
</body>
</html>