/**
 * Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
 * NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
 * - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
 * - if a component holds other components you should share the attribute namespace with its children
 */
 html {
  --content-width-mobile: 100%;
  --content-width-not-web-component-mobile: 95%;
  --content-width-not-web-component: 60%;
  --content-width: 95%;
  --figcaption-padding-mobile: 1.5rem 2.5% 0;
  --figcaption-padding: 1.5rem 0 0;
  --flex-grow: 1;
  --h5-font-size: 1.125rem;
  --h5-font-weight: 700;
  --h5-line-height: 1.75rem;
  --h5-margin: 0;
  --header-height: auto;
  --home-spacer-height-mobile: 0;
  --home-spacer-height: 3.875rem;
  --picture-margin: 0 auto;  /* Warning! Keep horizontal margin at auto, otherwise the content width + margin may overflow into the scroll bar */
  --picture-margin: 0;
  --picture-padding: 0;
  --picture-text-wrapper-any-1-width: 65%;
  --picture-text-wrapper-h1-margin: var(--teaser-h1-margin);
  --picture-text-wrapper-margin-first-child-mobile: 0;
  --picture-text-wrapper-margin-last-child: 0;
  --picture-text-wrapper-margin-mobile: 0;
  --picture-text-wrapper-margin: 0 1.94rem 0 0;
  --picture-text-wrapper-padding-last-child-mobile: var(--figcaption-padding-mobile);
  --picture-text-wrapper-padding: 0;
  --picture-width-mobile: var(--content-width-mobile);
  --picture-width: var(--content-width);
  --q-font-size-mobile: 1.333rem;
  --q-font-size: 1.272rem;
  --q-margin: 0 auto 0.227rem;
  --teaser-btn-border-color-hover: var(--m-blue-800);
  --teaser-btn-border-color: var(--m-blue-600);
  --teaser-btn-button-color-hover: var(--m-blue-700);
  --teaser-btn-button-color: var(--m-blue-500);
  --teaser-btn-margin-mobile: 0 0.5rem var(--content-spacing);
  --teaser-btn-margin: 0 0 var(--content-spacing);
  --teaser-content-spacing: 0;
  --teaser-content-width: 100%;
  --teaser-h1-margin: 0 0 1.25rem;
  --teaser-picture-width-mobile: 100%;
  --teaser-picture-width: 100%;
  --teaser-wrapper-margin-first-child-mobile: 0;
  --teaser-wrapper-margin-last-child: 0;
  --teaser-wrapper-margin-mobile: 0;
  --teaser-wrapper-margin: 0 1.94rem 0 0;
  --teaser-wrapper-padding: 0;
  --title-rotation: -12deg;
  --video-margin: 0 auto;
}
