/**
* Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
* NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
* - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
* - if a component holds other components you should share the attribute namespace with its children
*/
html {
  /* Munz, Marcel: Mopex Farben vom Migros Nachhaltigkeit Style-Guide */
  --m-green-900: #1A3E3B;
  --m-green-800: #068319;
  --m-green-600: #40a529;
  --btn-button-color-active: var(--m-green-900);
  --btn-button-color-hover: var(--m-green-800);
  --btn-button-color: var(--m-green-600);
  --color-hover: var(--m-green-800);
  --color-secondary: var(--m-green-600);
  --search-icon-color: var(--m-green-600);
  --teaser-btn-button-color-active: var(--m-green-900);
  --teaser-btn-button-color-hover: var(--m-green-800);
  --teaser-btn-button-color: var(--m-green-600);
}
