/**
* Variables naming rule: --{selector aka component aka namespace}-{css property}-{pseudo class or media query name} eg. --p-background-color-hover 
* NOTE: Within the component don't use any name spacing eg. component header don't use --header-color just use --color the namespace can be added by the Shadow as an html attribute
* - if a component holds other components or nodes you can declare or remap classes eg. :host > h1 {--color: var(--h1-color, white);}
* - if a component holds other components you should share the attribute namespace with its children
*/
html {
  --body-wrapper-main-padding: 0;
  --body-wrapper-padding-last-child-mobile: 0 5%;
  --body-wrapper-padding-mobile: 0 5% 1.7rem;
  --btn-font-size: 1rem;
  --contacts-any-1-width: 50%;
  --contacts-main-padding: 0;
  --content-width-mobile: 100%;
  --content-width-not-web-component-mobile: 90%;
  --content-width-not-web-component: var(--content-width);
  --content-width: 95%;
  --details-border-bottom: 2px solid var(--m-gray-100);
  --details-border-color: var(--m-gray-100);
  --details-content-width: 100%;
  --details-icon-display: flex;
  --details-icon-justify-content: space-between;
  --details-main-padding: 1em;
  --details-summary-child-margin-open: 0 0 1em 0;
  --details-summary-text-decoration-hover: var(--details-summary-text-decoration);
  --details-summary-text-decoration: none;
  --details-text-align: left;
  --details-ul-icons-margin: 0;
  --figcaption-padding-mobile: 1.5rem 5% 0;
  --figcaption-padding: 1.5rem 0 0;
  --flex-grow: 1;
  --footer-a-color-hover: var(--header-a-color-hover);
  --footer-a-color: var(--header-a-color);
  --footer-a-font-size: var(--header-a-font-size);
  --footer-a-line-height: var(--header-a-line-height);
  --footer-a-margin-mobile: var(--header-a-margin-mobile);
  --footer-a-margin: var(--header-a-margin);
  --footer-a-padding-mobile: var(--header-a-padding-mobile);
  --footer-a-padding: var(--header-a-padding);
  --footer-a-text-decoration-hover: var(--header-a-text-decoration-hover);
  --footer-a-text-decoration: var(--header-a-text-decoration);
  --footer-a-text-transform: var(--header-a-text-transform);
  --footer-a-white-space: var(--header-a-white-space);
  --footer-border-top: var(--header-border-bottom);
  --footer-color-hover: var(--color-secondary);
  --footer-margin: 0;
  --footer-padding: 1.5rem 0 0;
  --footer-white-space: var(--navigation-white-space);
  --footer-word-break: var(--navigation-word-break);
  --footer-z-index: 0;
  --h5-font-size: 1.125rem;
  --h5-font-weight: 700;
  --h5-line-height: 1.75rem;
  --h5-margin: 0;
  --header-a-color-hover: var(--color-secondary);
  --header-a-color: var(--color);
  --header-a-font-size: var(--h4-font-size);
  --header-a-line-height: 2rem;
  --header-a-margin-mobile: 0 5% 0 0;
  --header-a-margin: 0 max(4.5625rem, 3vw) 0 0;
  --header-a-menu-icon-align-self-mobile: baseline;
  --header-a-menu-icon-border-radius: 25%;
  --header-a-menu-icon-height-open-mobile: var(--header-a-menu-icon-height);
  --header-a-menu-icon-height: 3px;
  --header-a-menu-icon-margin: 0;
  --header-a-menu-icon-one-transform: rotate(-45deg) translateY(0.77em);
  --header-a-menu-icon-padding-open: var(--header-a-menu-icon-padding);
  --header-a-menu-icon-padding: 1.7rem 5% 1.2rem;
  --header-a-menu-icon-spacing: 6px;
  --header-a-menu-icon-two-transform: rotate(45deg) translateY(-0.77em);
  --header-a-menu-icon-width-open-mobile: var(--header-a-menu-icon-width);
  --header-a-menu-icon-width: 28px;
  --header-a-padding-mobile: 1.5rem 0 1.4rem 0;
  --header-a-padding: 0 0 1.5rem 0;
  --header-a-text-decoration-hover: none;
  --header-a-text-decoration: none;
  --header-a-text-transform: none;
  --header-a-white-space: nowrap;
  --header-align-items: end;
  --header-border-bottom: 1px solid var(--m-gray-300);
  --header-content-spacing-mobile: 0;
  --header-content-spacing: 0;
  --header-flex-wrap: wrap;
  --header-height-mobile: 5rem;
  --header-height: auto;
  --header-justify-content: flex-start;
  --header-logistik-m-navigation-background-color-mobile: var(--background-color);
  --header-logistik-m-navigation-height-mobile: calc(100vh - var(--header-logistik-m-navigation-top-mobile));
  --header-logistik-m-navigation-height-open-mobile: var(--header-logistik-m-navigation-height-mobile);
  --header-logistik-m-navigation-top-mobile: calc(var(--header-height-mobile) + 1px);
  --header-logistik-m-navigation-transition: none;
  --header-order: 0;
  --header-padding-mobile: 0 0 0;
  --header-padding: 1.5rem 0 0;
  --header-position: static;
  --header-sticky-border-bottom: var(--header-border-bottom);
  --home-spacer-height-mobile: 0;
  --home-spacer-height: 3.875rem;
  --main-padding: 1.5rem 0 1.5rem;
  --margin-first-child-mobile: 0;
  --margin-last-child: 0;
  --margin-mobile: 0;
  --margin: 0 1.94rem 0 0;
  --navigation-a-arrow-color: var(--color);
  --navigation-a-link-color-no-scroll: var(--navigation-a-link-color);
  --navigation-a-link-color: var(--color);
  --navigation-a-link-content-spacing-no-scroll: var(--navigation-a-link-content-spacing);
  --navigation-a-link-content-spacing: 0;
  --navigation-a-link-font-size-no-scroll: var(--navigation-a-link-font-size);
  --navigation-a-link-font-size: var(--header-a-font-size);
  --navigation-a-link-font-weight-no-scroll: var(--navigation-a-link-font-weight);
  --navigation-a-link-font-weight: bold;
  --navigation-color-hover: var(--color-secondary);
  --navigation-color-open: var(--color);
  --navigation-flex-wrap: wrap;
  --navigation-li-padding: 0 0 1.5rem;
  --navigation-margin: 0 max(0.6vw, 0.75rem);
  --navigation-padding: 0;
  --navigation-search-li-padding: 0;
  --navigation-white-space: normal;
  --navigation-word-break: break-word;
  --p-text-align: justify;
  --padding: 0;
  --picture-img-width: auto;
  --picture-logo-img-max-width: 115px;
  --picture-logo-text-align: left;
  --picture-margin: 0 auto;  /* Warning! Keep horizontal margin at auto, otherwise the content width + margin may overflow into the scroll bar */
  --picture-padding: 0;
  --picture-text-align: left;
  --picture-text-wrapper-any-1-width: 65%;
  --picture-text-wrapper-h1-margin: var(--teaser-h1-margin);
  --picture-text-wrapper-main-padding: 0;
  --picture-text-wrapper-margin-first-child-mobile: 0;
  --picture-text-wrapper-margin-last-child: 0;
  --picture-text-wrapper-margin-mobile: 0;
  --picture-text-wrapper-margin: 0 1.94rem 0 0;
  --picture-text-wrapper-p-text-align: var(--p-text-align);
  --picture-text-wrapper-padding-last-child-mobile: var(--figcaption-padding-mobile);
  --picture-text-wrapper-padding: 0;
  --picture-width-mobile: 100%;
  --picture-width: 100%;
  --q-font-size-mobile: 1.333rem;
  --q-font-size: 1.272rem;
  --q-margin: 0 auto 0.227rem;
  --search-border-color-focus: var(--m-gray-500);
  --search-border-color-hover: var(--search-border-color-focus);
  --search-border-focus: 1px solid var(--m-gray-500);
  --search-border-radius: 8px;
  --search-border: 1px solid transparent;
  --search-caret-color: var(--color-secondary);
  --search-font-color: var(--m-gray-500);
  --search-input-bg-color: var(--m-gray-100);
  --search-input-color: var(--color);
  --search-input-font-size: 1rem;
  --search-margin-bottom: 0;
  --search-max-width-mobile: none;
  --search-max-width: 30vw;
  --search-search-input-border-color: transparent;
  --teaser-btn-button-color-active: var(--m-blue-900);
  --teaser-btn-button-color-hover: var(--m-blue-800);
  --teaser-btn-button-color: var(--m-blue-600);
  --teaser-btn-font-size: var(--btn-font-size);
  --teaser-btn-margin-mobile: 0 5% var(--content-spacing);
  --teaser-btn-margin: 0 0 var(--content-spacing);
  --teaser-content-spacing: 0;
  --teaser-content-width: 100%;
  --teaser-h1-margin: 0 0 1.25rem;
  --teaser-p-text-align: var(--p-text-align);
  --teaser-picture-width-mobile: var(--picture-width-mobile);
  --teaser-picture-width: var(--picture-width);
  --teaser-wrapper-main-padding: 0;
  --teaser-wrapper-margin-first-child-mobile: 0;
  --teaser-wrapper-margin-last-child: 0;
  --teaser-wrapper-margin-mobile: 0;
  --teaser-wrapper-margin: 0 1.94rem 0 0;
  --teaser-wrapper-padding: 0;
  --title-rotation: -12deg;
  --video-margin: 0 auto;
}
